/* code page layout */
.code .cards {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: auto auto;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.code .card {
  background: none;
  overflow: visible;
  transition: none;
}

.code .card:hover {
  transform: none;
}

.code .card_media {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: block;
  background: none;
  padding: 0;
}

.code .card:nth-child(1) {
  grid-column: span 3;
  grid-row: 1;
}

.code .card:nth-child(2) {
  grid-column: 4 / span 3;
  grid-row: 1;
}

.code .card:nth-child(3) {
  grid-column: 7 / span 7;
  grid-row: 1 / span 2;
}

.code .card:nth-child(4) {
  grid-column: 1 / span 6;
  grid-row: 2;
}

.code .card:nth-child(5) {
  grid-column: 7 / span 7;
  grid-row: 2;
  align-self: end;
}

.code .card:nth-child(6) {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.code .card:nth-child(7) {
  grid-column: 4 / span 3;
  grid-row: 3;
}

.code .card:nth-child(8) {
  grid-column: 7 / span 7;
  grid-row: 3;
}