/* graphics page layout */
.graphic .cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.graphic .card {
  background: none;
  overflow: hidden;
  transition: none;
}

.graphic .card:hover {
  transform: none;
}

.graphic .card_media {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  background: none;
  padding: 0;
}

.graphic .card:nth-child(1) {
  grid-column: span 4;
  grid-row: 1;
}

.graphic .card:nth-child(2) {
  grid-column: 5 / span 4;
  grid-row: 1;
}

.graphic .card:nth-child(3) {
  grid-column: 9 / span 4;
  grid-row: 1;
}

.graphic .card:nth-child(4) {
  grid-column: 1 / span 4;
  grid-row: 2;
  align-self: start;
}

.graphic .card:nth-child(5) {
  grid-column: 5 / span 4;
  grid-row: 2;
  align-self: end;
}

.graphic .card:nth-child(6) {
  grid-column: 9 / span 4;
  grid-row: 2;
  align-self: start;
}